<div class="mt-4">
  <h3>YOUR COURSES</h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Course name</th>
        <th scope="col">Date created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-id="{{this._id}}"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this course?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This behaviour can not be undone, do you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
  const exampleModal = document.getElementById('exampleModal');
  exampleModal.addEventListener('show.bs.modal', event => { const button =
  event.relatedTarget; const recipient =
  button.getAttribute('data-bs-whatever'); const modalTitle =
  exampleModal.querySelector('.modal-title'); const modalBodyInput =
  exampleModal.querySelector('.modal-body input'); modalTitle.textContent = `New
  message to ${recipient}`; modalBodyInput.value = recipient; })
</script>