<div class="mt-4">

  <div>
    <h3>YOUR COURSES</h3>
    <a href="/me/trash/courses">Archived courses</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Course name</th>
        <th scope="col">Date created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-id="{{this._id}}"
              data-bs-whatever="@fat"
            >Delete</a>

          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5">
            Oops! Look like you dont have any course yet.
            <a href="/courses/create"> Upload course</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! modal }}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this course?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This behaviour can not be undone, do you wish to continue?
      </div>
      <div class="modal-footer">
        <button
          onclick="test()"
          type="button"
          class="btn btn-danger"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cancel</button>

      </div>
    </div>
  </div>

</div>

{{! hidden delete form }}
<form id="delete-course-form" method="POST"></form>

<script>
  var courseID; var deleteForm = document.getElementById('delete-course-form');
  function test(){deleteForm.action = '/courses/' + courseID +
  '?_method=DELETE'; deleteForm.submit()} const exampleModal =
  document.getElementById('exampleModal');
  exampleModal.addEventListener('show.bs.modal', event => { const button =
  event.relatedTarget; courseID = button.getAttribute('data-id'); });
</script>